.login-wrap {
  height: 100%;
  background-image: url(/assets/login-bg.jpg);
  background-size: cover;
  background-color: rgb(34, 31, 84);
  background-repeat: no-repeat;
}
.login-form {
  max-width: 330px;
  padding: 0 30px;
  border-radius: 3px;
  background: rgba(255,255,255,.9);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}

.login-form-message {
  color: red;
  height: 20px;
  line-height: 20px;
  margin: 20px 0 10px;
  text-align: center;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.register {
  font-size: 12px;
}