.my-spinner {
  position: fixed;
  width: 50vw;
  border-top: 3px solid #f5222d;
  animation: loadingA 2s linear infinite;
}

@keyframes loadingA {
  0% {
    transform: translateX(-50vw);
  }
  16.66% {
    transform: translateX(-25vw);
  }
  33.33% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(25vw);
  }
  66.66% {
    transform: translateX(50vw);
  }
  83.33% {
    transform: translateX(75vw);
  }
  100% {
    transform: translateX(100vw);
  }
}