[nz-carousel-content] {
  text-align: center;
  height: 300px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
h3 {color: #fff;}
ul {
  padding: 0;
  margin: 0;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.header {
  background: #fff;
  padding: 0 30px 0 50px;
  box-shadow: 0 2px 8px #f0f1f2;
}
.logo {
  width: 200px;
}
.logo img {
  height: 32px;
  margin-right: 16px;
}
.logo img + img { 
  height: 16px;
}
.user-nav {
  list-style: none;
}
.user-avatar {
  cursor: pointer; 
  text-transform: capitalize; 
  background-color:#7265e6;
}
.dropdown-header {
  padding: 5px 12px;
  border-bottom: 1px solid #03A9F4;
}
.carousel img {
  width: 100%;
  height: 100%;
}