header {
  height: 64px;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}

header .header-brand img:nth-child(1) {
  height: 32px;
}

header .header-brand img:nth-child(2) {
  height: 16px;
}

header nav .user-avatar {
  cursor: pointer; 
  text-transform: capitalize; 
  background-color:#7265e6;
}

.user-menu {
  min-width: 100px;
}

.user-menu-header {
  padding: 5px 12px;
  border-bottom: 1px solid #e8e8e8;
}

main .index-carousel .index-carousel-content {
  height: 300px;
}

main .index-card-container {
  padding: 0 10px;
  max-width: 1280px;
  margin: auto;
}

main .index-card {
  margin: 0 10px 20px;
}