<header fxLayout fxLayoutAlign="start center">
  <a class="header-brand" fxFlexOffset="5">
    <img src="/assets/logo.svg">
    <img fxFlexOffset="10px" fxFlexAlign="center" src="/assets/zorro.svg">
  </a>
  <nav fxFlex>
    <ul fxLayoutAlign="end center">
      <li *ngIf="!authService.isLoggedIn">
        <a routerLink="login">Sign in</a>
      </li>
      <li *ngIf="authService.isLoggedIn">
        <nz-dropdown nzPlacement="bottomRight">
          <nz-avatar class="user-avatar" [nzText]="user.userName.slice(0,1)" nzSize="small" nz-dropdown>
          </nz-avatar>
          <ul class="user-menu" nz-menu nzSelectable>
            <li class="user-menu-header">Signed in as {{user.userName}}</li>
            <li nz-menu-item>
              <a routerLink="main">Main</a>
            </li>
            <li nz-menu-item>
              <a (click)="signOut()">Sign out</a>
            </li>
          </ul>
        </nz-dropdown>
      </li>
    </ul>
  </nav>
  <div fxFlexOffset="5"></div>
</header>
<main fxLayout="column" fxLayoutGap="20px">
  <section>
    <nz-carousel class="index-carousel" [style.width.px]="innerWidth" nzAutoPlay>
      <div class="index-carousel-content" nz-carousel-content [style.backgroundColor]="i" *ngFor="let i of ['#f44336', '#E91E62', '#9C27B0', '#673AB7', '#3F51B5']">
      </div>
    </nz-carousel>
  </section>
  <section class="index-card-container" fxLayout="row wrap">
    <nz-card 
      class="index-card" 
      fxFlex.xs="0 0 calc(100% / 3 - 20px)" 
      fxFlex.sm="0 0 calc(25% - 20px)" 
      fxFlex="0 0 calc(100% / 6 - 20px)" 
      *ngFor="let card of cardList" 
      nzHoverable 
      [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="card.title" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="http://placehold.it/150/771796" />
    </ng-template>
  </section>
</main>
<footer></footer>